
@charset "UTF-8";

/* Color Scheme
Brown - #965824
Blue - #005287 
Silver - black (10% opacity) or white (90% opacity) */

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


/* Sitewide */
html {
	font-family: "Open Sans", sans-serif;
    font-weight: 400;
    height: 100%;
}

h1 {
    font-family: Montserrat, sans-serif;
}

body {
    margin: 0;
    height: 100%;
}

#header {
    background-image: url(../media/placeholder.jpg);
}

main {
    height: 100%;
    margin: 1em 2em;
    width: auto;
}

img {
    float: left;
}

#header h1 {
    padding: 1em;
    text-align: center;
    margin: 0;
}

a:hover {
    color: gray;
}
.no-margin {
    margin: 0;
}

/* Skipnav */
#skipnav {
	color: transparent;
    float: left;
}

#skipnav:hover, #skipnav:focus {
	color: blue;
}


/* Navbar */
#navbar {
	list-style-type: none;
	background-color: black;
	width: 100%;
	margin: 0;
	padding: 10px 0 10px;
}

#navbar li {
	display: inline;
}

#navbar li a {
	text-decoration: none;
	color: #D1D2D4;
	background-color: black;
	padding: 10px 2%;
	margin-left: 2%;
}

#navbar li a:hover, #navbar li #currentpage{
	color: gray;
}


/* Sidebar */
#sidebar {
	float: right;
	background-color: rgba(0, 0, 0, .1);
	padding: 1em;
	width: 30%;
	height: 100%;
}

#sidebar h2 {
	text-align: center;
	margin-bottom: .5em;
}

#sidebar img {
	margin: .25em;
}











/* NavMenu */
#navmenu {
	float: left;
	background-color: rgba(0, 0, 0, .1);
	padding: 1em;
	width: auto;
    min-width: 190px;
    min-height: 500px;
    height: 100%;
}

#navmenu ul a {
    text-decoration: none;
}

#navmenu ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

#navmenu ul ul {
    margin: 0 2em;
}


/* Gallery */
.image-container {
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 200px;
    margin-left: 2em;
    margin-top: 2em;
    border: 1px solid black;
    display: inline-block;
}

.image-container a img {
    overflow: hidden;
    height: 225px;
    float: none;
    align: center;
}

.image-container a .gallerytitle {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1); 
    padding: .5em 1em;
}

.image-container a:hover {
    color: gray;
}

/* Contacts */
.contact {
    clear: both;
}

.contact img {
}

.contact span {
}

/* Footer */
footer {
    overflow: hidden;
	clear: both;
	text-align: center;
	padding: 1em;
	/*border-top: 1.5px solid black;*/
	background-color: black;
	color:#D1D2D4;
}



@media print {
    html {
        font-family: serif;
    }
    
    nav {
        display: none;
    }
}




